form{
    width: 800px;
    margin: 30px auto;
    border: solid 1px #ccc;
    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 5px;
}

input[type="text"],
input[type="number"]{
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 5px;
}